Repository reactjs/zh-hant.react.dev, pull requests merged in 2019-03, with the labels that each got.

#30 Fix conflicts in tutorial
  content/tutorial/tutorial.md
Labels: Review Needed

#18 doc: translate conditional rendering
  content/docs/conditional-rendering.md
  content/docs/nav.yml
Labels: In Review, Revision Needed

#31 fix(tutorial): wording
  content/tutorial/tutorial.md
Labels: Review Needed

#33 docs(tw): translate lifting-state-up
  content/docs/lifting-state-up.md
Labels: Review Needed

#28 [api] react
  content/docs/reference-react.md
Labels: Review Needed

#37 docs: translate js environment requirement
  content/docs/nav.yml
  content/docs/reference-javascript-environment-requirements.md
Labels: Completed

#35 doc: translate hooks-overview
  content/community/conferences.md
  content/docs/hooks-intro.md
  content/docs/hooks-overview.md
  content/docs/nav.yml
  src/components/LayoutFooter/Footer.js
Labels: In Review

#38 doc: Translate ReactDOM
  content/docs/reference-react-dom.md
Labels: In Review

#41 doc: Translate Getting Started
  content/docs/getting-started.md
Labels: Completed

#42 doc: translate shallow renderer
  content/docs/addons-shallow-renderer.md
Labels: In Review

#39 docs(tw): translanslate composition-vs-inheritance
  content/docs/composition-vs-inheritance.md
Labels: Review Needed

#20 doc: complete think in react
  content/docs/thinking-in-react.md
Labels: In Review
