Repository reactjs/zh-hant.react.dev, pull requests merged in 2019-02, with the labels that each got.

#4 docs(zh-hant): Translate Hello World
  content/docs/hello-world.md
Labels: Review Needed

#11 docs(tw): translate rendering elements
  content/docs/rendering-elements.md
Labels: Review Needed

#12 docs(zh-hant): Translate Components and Props
  content/docs/components-and-props.md
  content/docs/nav.yml
Labels: Review Needed

#9 Tutorial
  content/tutorial/tutorial.md
Labels: In Review

#16 docs(tw): translate state-and-lifecycle
  content/docs/state-and-lifecycle.md
Labels: In Review

#13 docs(zh-hant): introducing jsx
  content/docs/introducing-jsx.md
  content/docs/nav.yml
  examples/introducing-jsx.js
Labels: Completed

#6 [Homepage] initial translation
  content/home/examples/a-component-using-external-plugins.md
  content/home/examples/a-simple-component.md
  content/home/examples/a-stateful-component.md
  content/home/examples/an-application.md
  content/home/marketing/component-based.md
  content/home/marketing/declarative.md
  content/home/marketing/learn-once-write-anywhere.md
  src/components/LayoutFooter/Footer.js
  src/components/LayoutHeader/DocSearch.js
  src/components/LayoutHeader/Header.js
  src/pages/index.js
Labels: Revision Needed

#17 Complete lists-and-keys
  content/docs/lists-and-keys.md
Labels: Review Needed
