Repository reactjs/zh-hant.react.dev, pull requests merged in 2019-04, with the labels that each got.

#45 doc: translate add react to a website
  content/docs/add-react-to-a-website.md
Labels: In Review, Revision Needed

#43 doc: translate Test Renderer
  content/docs/reference-test-renderer.md
Labels: In Review

#36 docs: translate glossary
  content/docs/nav.yml
  content/docs/reference-glossary.md
Labels: Completed

#40 doc: translate dom-elements
  content/docs/reference-dom-elements.md
Labels: In Review

#50 doc: translate cdn links
  content/docs/cdn-links.md
Labels: Completed
